.loading {
    /* border: 1px solid red; */
    /* height: 100vh; */
    width: 100px;
    height: 100px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #888;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: loading 2s infinite linear;
}

.loading::after {
    animation-delay: 0.5s;
}

@keyframes loading {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}