* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body {
    background: #000;
    color: white;
}
.top-nav-bar{
    padding: 27px 16px 27px 16px;
}
.logo{
    float: left;
    font-size: 22px;
    font-family: 'Arial Black';
    color: #9a9da2;
}
.rs{
    color: #e6686d;
}
nav{
    float: right;
    padding-top: 7px;
}
.top-nav-bar>nav>ul>li{
    float: left;
    list-style: none;
    margin-left: 17px;
    margin-right: 17px;
    font-size: 12px;
    font-weight: bold;
    
}
.top-nav-bar>nav a{
    color: rgba(255, 255, 255, 0.7);
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}
.top-nav-bar>nav a:hover{
    border-bottom-color: #e6686d;
}